 <div>
	<title></title>
	<%=@message%>

	<%= form_tag("/interface", method: "post") do %>
	What is the Size of Your Board:
	<%= text_field_tag(:board_size) %>
	<% end %>

	<li><%= @winner_message%></li>
</div>



