// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {

	list-style-type: none;
}

.cell {
	background: orange;
	padding: none;
	margin: 0;
	font-size: 75px;
	color: black;
	width: 15%;
	float: left;
	list-style-type: none;

}
