// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board {
	background: black;
	color: red;
}

.square {
	background: orange;
	color: black;
	width: 30%;
	float: left;
	list-style-type: none;
	font-size: 75px;

}
